<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Code vui testing chút thôi haha</p>
    <p>Chạy các bản test phía dưới:</p>
    <ul>
      <li>Eslint</li>
      <li>Jest unit test</li>
    </ul>

    <h2>Contact</h2>
    <ul>
      <li>Email: vnpro@gmail.com</li>
      <li>Website: https://vnpro.com </li>
    </ul>
  </body>
</html>
